<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="stylee.css">
  <link rel="stylesheet" href="styles.css">

     <title>bootstrap project</title>
</head>

<a class="body">

    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
        
            <a class="navbar-brand" href="#">Reliabilty Index</a>
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="index.html"><span class="fa fa-home"></span> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="./aboutus.html"><span class=""></span>Brands</a></li>
                <li class="nav-item"><a class="nav-link" href="./featues.html"><span class=""></span> Features</a></li>
                <li class="nav-item"><a class="nav-link" href="contactus.html"><span class=""></span> About</a></li>
                <form class="form-inline my-2 my-lg-0 ml-1">
                  <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 60%; height: 70%;">
                  <button class="border-0 bg-transparent p-2" type="submit">
                    <i class="fa fa-search fa-lg pointer" style="color: white;"></i>
                  </button>
                </form>
            </ul>
        </div>
       </div>
    </nav>

    

    <header class="jumbotron jew jumbo">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-12 text-center">
                    <h1>Car Brands</h1>
                </div>
            </div>
        </div>
    </header>

<div class="container heigh">
          <div class="row shadow bg-white justify-content-center rounded" id="d">
    <div class=" col-sm-4 text-center ">
    <img title="Maruti 800" src="https://media.zigcdn.com/media/model/2019/Sep/maruti-swift_600x400.jpg" class="img-fluid img-responsive">
    </div>
    <div class="col-sm-4 text-center justify-content-center">
         <br>
         <a href="carfeatures.html"><button id="e" class="btn " style="font-style: Arial;"><h3>Maruti 800</h3></button></a>
              <h6 class="text-center card-text" style="font-style:Arial">Rs. 5.14 Lakh Onwards</h6> 
                <h6 class="text-center card-text" style="font-style:Arial; color: grey;">1197 cc 27kmpl petrol/desel</h6> 
              <br>
                   
        </div>
  </div>
  
<div class="row shadow bg-white rounded justify-content-center" >
 <div class="col-sm-4 text-center">
   <img title="Maruti Swift"  src="https://media.zigcdn.com/media/model/2019/Sep/maruti-swift_600x400.jpg" class="img-fluid">
</div>
<div class="col-sm-4 text-center justify-content-center">
 <br>
          <a href="carfeatures.html"><button class="btn " id="e" style="font-style: Arial;"><h3>Maruti Swift</h3></button></a>
      <h6 class="text-center card-text" style="font-style:Arial">Rs. 5.14 Lakh Onwards</h6> 
        <h6 class="text-center card-text" style="font-style:Arial; color: grey;">1197 cc 27kmpl petrol/desel</h6> 
      <br>
</div>
</div>
</div>

<footer class="footer">
  <div class="container">
      <div class="row">             
          <div class="col-4  col-sm-2">
              <h5>Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Menu</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
          <div class="col-7 offset-1 col-sm-5">
              <h5>Our Address</h5>
              <address>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <i class="fa fa-phone"></i>:+852 1234 5678<br>
            <i class="fa fa-fax"></i>: +852 8765 4321<br>
            <i class="fa fa-envelope"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
         </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
              <div class="text-center">
                  <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                  <a class="btn btn-social-icon " href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
              </div>
          </div>
     </div>
     <div class="row justify-content-center">
     </div>
  </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

 </body class="body">
</html>    
    
    